gfx/map/terrain/detail_index.tga
gfx/map/terrain/detail_intensity.tga
gfx/map/terrain/flatmap.dds
gfx/interface/bookmarks/bm_fall_of_milesians.dds
gfx/interface/bookmarks/bm_fall_of_milesians_bookmark_fall_of_milesians_inzhay.dds
gfx/interface/bookmarks/bm_fall_of_milesians_bookmark_fall_of_milesians_loegaire.dds
gfx/interface/bookmarks/bm_fall_of_milesians_bookmark_fall_of_milesians_nuada.dds
gfx/interface/bookmarks/bm_fall_of_milesians_bookmark_fall_of_milesians_oscar.dds
gfx/interface/bookmarks/bm_fall_of_milesians_bookmark_fall_of_milesians_rudraige.dds